$toast-colors: () !default;
$toast-colors: map-merge(
  (
    "success": #ABBC4C,
    "info": #A1ABB7,
    "warning": #ffc107,
    "error": rgba(244, 135, 135, 0.78),
    "default": #fff
  ),
  $toast-colors
);

.v-notices {
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 1052;
    pointer-events: none;
    /**noselect */
    -webkit-touch-callout: none;/* iOS Safari */
    user-select: none;          /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
    outline-style: none;        /* Internet Explorer*/
  
    .v-toast {
      display: inline-flex;
      align-items: center;
      animation-duration: 150ms;
      margin: 2px 0;
      box-shadow: 2px 2px 3px rgba(#000, 0.4);  
      border-radius: 4px; /** compared to font Comic Sans MS */

      pointer-events: auto;
      opacity: 0.92;
      cursor: pointer;
      .v-toast-text {
        margin: 0;
        padding: 0.2em 0.4em;
      }
    }
  
    // Colors
    @each $color, $value in $toast-colors {
      .v-toast-#{$color} {
        background-color: $value;
        @if $color != default {
          color: #fff;
        }
      }
    }
  
    // Individual toast position
    .v-toast {
      &.is-top, &.is-bottom {
        align-self: center;
      }
      &.is-top-right, &.is-bottom-right {
        align-self: flex-end;
      }
      &.is-top-left, &.is-bottom-left {
        align-self: flex-start;
      }
    }
  
    // Notice container positions
    &.is-top {
      flex-direction: column;
    }
    &.is-bottom {
      flex-direction: column-reverse;
    }
    &.is-custom-parent {
      position: absolute;
    }
  
    @media screen and (max-width: 768px) {
      padding: 0;
      position: fixed !important;
    }
  }
  